
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(wheather.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
header{
    color: rgb(255, 192, 210);
    font-size: 45px;
    font-weight: bold;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}
.container{
    width: 60px;
    margin: 100px auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.inputs{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background-color: rgb(224, 190, 190);
    height: 150px;
}
.inputs input[type="text"] {
    height: 4rem;
    width: 20rem;
    background-color: #212121;
    font-weight: bold;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #473939;
    border-radius: 3px;
}
.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background-color: #270aca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}
.display{
    text-align: center;
    width: 520px;
    color: #16a864;
}
.wrapper
{
    margin: 0 9rem;
    background-color: rgb(172, 189, 221);
    height: 30vh;
    margin: 50px auto;
    border-radius: 2px;
}
.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background-color: #0548b5;
    color: white;
}
.wrapper p{
    margin: 20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size: 23px;
    
}
.wrapper h2 span{
    font-size: 26px;
    color: #fb9b9b;
}
.wrapper p span{
    color: #5e0df4;
    font-size: 25px;
}
footer{
    border: 2px solid black;
    color: rgb(252, 251, 252);
    background-color: rgb(10, 10, 10);
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
}
footer >h1{
    font-size: 10px;
    padding-top: 5px;
    color: rgb(124, 119, 119);
}
::-webkit-scrollbar {
    display: none;
}